@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

body {
  /* max-width: 960px; */
  margin: 0 auto;
}

h1{
  text-align: center;
}

#fbpage-container{
  width: 340px;
  margin: auto;
}

#map-container{
  width: 340px;
  height: 300px;
  margin: auto;
}
